<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comision 17</title>
</head>
<body>
    <!-- Inicializando la pagina con ! -->
    <h1>Bienvenidos a la mejor comision de todas</h1>

    <h2>Paginas que podes visitar</h2>
    <ul>
        <li><a href="/register">Registrate en nuestra pagina, Sumate a la mejor comundad de la comision 17</a></li>
        <li><a href="/login">¿Ya tenes cuenta? ¿que esperas para iniciar sesion?</a></li>
        <li><a href="/contacto">¿Queres formar parte de nuestro elenco? contactanos</a></li>
    </ul>

    <h2>Paginas que recomendamos</h2>
    <ol>
        <li><a href="https://www.google.com/">Google</a></li>
        <li><a href="https://www.spotify.com/">spotify</a></li>
        <li><a href="https://www.pinterest.com/">Pinterest</a></li>
    </ol>
</body>
</html>